*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: wheat;
}
body,html{
    overflow-x: hidden;
}
.header{
    display: flex;
    border-radius: 2px;
    list-style: none;
    margin: 10px 30px;
    justify-content: space-evenly;

}
li:hover{
    background-color:white;
    border-radius: 2px;
}
.tag{
    width: 100vw;
    margin: 5% 34%;  
    
}
div>p{
    margin:2% 7%;
    font-family:Lucida Sans;
}
.catalogue{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 20px;
    margin-bottom: 20px;  
}
.catalogue img{
    width: 20vw;
    height: 50vh;
}
.catalogue div img{
    width:100%;
    border-radius: 10px;
    background: transparent;
}

.info{
    margin: 2% 20%;
}
.info p{
    font-family: Franklin Gothic Medium;
    position:relative;
    margin:0 20%
}
#add{
    margin: 1% 10%;
    border-radius: 4px;
    border-color: gold;
    font-size: medium;
    font-family: Times New Roman;
    background-color:transparent;
}
#time{
    margin: 0 25%;
    width: max-content;
}
::-webkit-scrollbar{
    display: none
}
#slide{
    width: 40vw;
    height:35vh;
    padding-right: 10px;
    margin: 5% 20%;
    border:1px solid #4e4747 ;
    border-radius: 5px;
}
.slides{
    position: relative;
    width: 20vw;
    height: 30vh;
    border-radius: 5px ;
    margin: 0.9% 22%;
}
#exp{
    position: absolute;
    right: 65%;
    bottom: -105%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: black;
    z-index: 1;
}
#exp h4{
    font-size: 30px;
}
footer{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    color: white;
    width: 100%;
    height: 300px;
    background-color:black;
}
#socials a{
    color: white;  

}
#subscribe #text{
    height: 100px;
}
#icons{
    margin-top:65%;
    margin-left:25% ;
}
#subscribe{
    width: 300px;
    height: 300px;
    border-radius: 10px;
   
}

#socials{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    color: white;
    margin: 30%;
    right: 10px;
}
#socials p{
    margin-right: 10%;
    width:max-content;
    color: white;
 
    
}
#contacts{
    margin:0 -200px;
    line-height: 50px;    
    width: 300px;
    height: 300px;
    border-radius: 10px;
    z-index: 9;
}
#location{
    width: 200px;
    height: 300px;
    border-radius: 10px;
   
}
#map{
    margin: 15px 15px;
    border-radius: 5px;
}
#sub{
    width: 80px;
    margin-left: 50px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#email{
    background-color: orange;
    height: 30px;
    margin-bottom: 10px;

    
}
#text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: azure;
    
}
#email ::placeholder{
    color:red;
}





/*Small screens*/
@media screen and (max-width:480px) {
    body{
        margin:0;
        padding: 0;
    }
    .header{
        font-size: 20px;
    }
    .tag h1{
        font-size: 24px;
        margin-right: 20%;
        position: relative;
    }
    .tag p{
        font-size: 15px;
        margin-right: 15%;
    }
    .tag{
        margin: 0 15%;
        width: 100%;
    }
    .catalogue{
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
    }
    .catalogue img{
        width:15vw;
        height: 15vh;
    }
    #slide{
        width: 67vw;
        height:30vh;
        padding-right: 10px;
        margin: 5% 15%;
        border:1px solid #4e4747 ;
        border-radius: 5px;
    }
    .slides{
        position: absolute;
        width: 30vw;
        height: 25vh;
        border-radius: 5px ;
        margin: 3% 20%;

    }
    
    #exp h4{
        font-size: 18px;

    }
    footer{
        margin:0 20%
    }
    
    #exp{
        display: none;
    }
    
    
}